Model/ClassGenerator/schemas/Accommodation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/mare11/XML_MegaTravel/accommodation"
    xmlns:acm="https://github.com/mare11/XML_MegaTravel/accommodation"
    xmlns:loc="https://github.com/mare11/XML_MegaTravel/location"
    xmlns:ag="https://github.com/mare11/XML_MegaTravel/agent"
    xmlns:user="https://github.com/mare11/XML_MegaTravel/user"
    xmlns:jxb="http://java.sun.com/xml/ns/jaxb" jxb:version="2.0"
    xmlns:res="https://github.com/mare11/XML_MegaTravel/reservation">
    <xs:import namespace="https://github.com/mare11/XML_MegaTravel/user" schemaLocation="Users.xsd"/>
    <xs:import namespace="https://github.com/mare11/XML_MegaTravel/reservation"
        schemaLocation="Reservation.xsd"/>
    <xs:element name="Accommodation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accommodationTypeId" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="category">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>
								<jxb:javaType name="java.lang.Integer" parseMethod="org.xmlws.util.TypeConverter.parseInteger"/>
							</xs:appinfo>
                        </xs:annotation>
                        <xs:restriction base="xs:int">
                            <xs:minInclusive value="0"/>
                            <xs:maxInclusive value="5"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalServiceIds" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="freeCancellation" type="xs:boolean">
                    <xs:annotation>
                        <xs:appinfo>
							<jxb:javaType name="java.lang.Boolean" parseMethod="org.xmlws.util.TypeConverter.parseBoolean"/>
						</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="cancellationDays">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>
								<jxb:javaType name="java.lang.Integer" parseMethod="org.xmlws.util.TypeConverter.parseInteger"/>
							</xs:appinfo>
                        </xs:annotation>
                        <xs:restriction base="xs:int">
                            <xs:totalDigits value="2"/>
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="1" name="cancellationPrice" type="acm:TPrice"/>
                <xs:element name="description">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="200"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="images" type="xs:string"> </xs:element>
                <xs:element name="numberOfPersons">
                    <xs:simpleType>
                        <xs:annotation>
                            <xs:appinfo>
								<jxb:javaType name="java.lang.Integer" parseMethod="org.xmlws.util.TypeConverter.parseInteger"/>
							</xs:appinfo>
                        </xs:annotation>
                        <xs:restriction base="xs:int">
                            <xs:totalDigits value="2"/>
                            <xs:minInclusive value="0"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="agentId" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="defaultPrice" type="acm:TPrice"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="acm:PeriodPrice"/>
                <xs:element name="locationId" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="acm:Unavailability"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="reservationIds" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="id" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="TPrice">
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="6"/>
            <xs:fractionDigits value="2"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="Location">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="country" type="xs:string"/>
                <xs:element name="city" type="xs:string"/>
                <xs:element name="address" type="xs:string"/>
                <xs:element default="0.0" name="latitude">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-90"/>
                            <xs:maxInclusive value="90"/>
                            <xs:totalDigits value="8"/>
                            <xs:fractionDigits value="6"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element default="0.0" name="longitude">
                    <xs:simpleType>
                        <xs:restriction base="xs:decimal">
                            <xs:minInclusive value="-180"/>
                            <xs:maxInclusive value="180"/>
                            <xs:totalDigits value="9"/>
                            <xs:fractionDigits value="6"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="id" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PeriodPrice">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="startDate" type="xs:date">
                    <xs:annotation>
                        <xs:appinfo>
							<jxb:javaType name="java.time.LocalDate" parseMethod="org.xmlws.util.TypeConverter.parseDate"/>
						</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="endDate" type="xs:date">
                    <xs:annotation>
                        <xs:appinfo>
							<jxb:javaType name="java.time.LocalDate" parseMethod="org.xmlws.util.TypeConverter.parseDate"/>
						</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="price" type="acm:TPrice"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Unavailability">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="startDate" type="xs:date">
                    <xs:annotation>
                        <xs:appinfo>
							<jxb:javaType name="java.time.LocalDate" parseMethod="org.xmlws.util.TypeConverter.parseDate"/>
						</xs:appinfo>
                    </xs:annotation>
                </xs:element>
                <xs:element name="endDate" type="xs:date">
                    <xs:annotation>
                        <xs:appinfo>
							<jxb:javaType name="java.time.LocalDate" parseMethod="org.xmlws.util.TypeConverter.parseDate"/>
						</xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccommodationType">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="typeName" type="xs:string"/>
                <xs:element name="id" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AdditionalService">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="additionalServiceName">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:maxLength value="40"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="id" type="xs:long">
                    <xs:annotation>
                        <xs:appinfo>
                            <jxb:javaType name="java.lang.Long" parseMethod="org.xmlws.util.TypeConverter.parseLong"/>
                        </xs:appinfo>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
